.Footer {
  background-color: #30302f;
  color: #fff;
  list-style: none;
  padding-top: 1rem;
  text-align: center;
  width: 100%;
  bottom: 0;
  margin: 0;
}

.Footer a {
  color: #fff;
}

.copy {
  padding: 1rem;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 425px) {
  .Footer {
    font-size: 80%;
  }
  .Footer h5 {
    font-size: 100%;
  }
}
