.Container {
  background-color: #fff;
  border-radius: 10px;
}

.Button {
  margin: 10%;
  width: 80%;
  background-color: #476dd6;
  box-shadow: 6px 6px 17px -1px rgba(150, 148, 150, 1);
}

.SignupItem {
  height: 38rem;
  background-color: #476dd6;
  color: white;
  padding: 50px 30px;
  border-radius: 10px;
}
.item1 {
  background-color: #476dd6;
  color: white;
  padding: 50px 30px;
  border-radius: 10px;
}

.item1 p {
  font-size: 20px;
  font-weight: bold;
  padding-top: 50px;
}

.item3 {
  min-height: 35rem;
  width: 400px;
}

.loginForm {
  margin-top: 25%;
}

.signupForm {
  margin-top: 5%;
}

.item3 p {
  margin-left: 20%;
}

.border {
  box-sizing: border-box;
  border: 1px solid #30302f;
  padding: 2rem;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .item1,
  .SignupItem {
    height: 0;
    width: 0;
    display: none;
  }
  .item3 {
    min-height: 20rem;

    width: 100%;
  }
  .loginForm,
  .signupForm {
    margin-top: 10%;
  }
}

@media (max-width: 425px) {
  .item3 Form {
    font-size: 90% !important;
  }
  .item3 p {
    margin-left: 0;
  }
  .Button {
    width: 70%;
    font-size: 100%;
    margin: 5%;
    margin-left: 13%;
  }
}
