.card {
  box-shadow: -1px 2px 5px 5px rgba(219, 219, 219, 1);

  margin: 1rem;
}

.link {
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 5px;
}

.link:hover {
  background-color: #ccc;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  padding: 2px;
}
.heading {
  font-weight: bold;
  color: #000;
  padding: 5px;
}

.data {
  margin: 2rem;
  font-family: "Times New Roman", Times, serif;
}

.data span {
  font-size: 1.2rem;
  padding-right: 1rem;
}

.OrganizationName {
  font-size: 1.4rem;
}

.OrganizationName span {
  padding-left: 1rem;
}

.placeholder {
  height: 70%;
  width: 100%;
  margin: 3%;
  box-shadow: -1px 2px 5px 5px rgba(219, 219, 219, 1);
}

.profileImage {
  max-width: 80%;
  max-height: 100%;
}

.profileName {
  font-weight: bold;
  font-size: 1.1rem;
}

.cardHeading {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

@media (max-width: 425px) {
  .heading {
    font-size: 0.8rem;
    padding: 2px;
  }
  .profileName {
    font-size: 1rem;
  }
  .cardHeading {
    font-size: 1.2rem;
  }
  .data {
    margin: 5px;
    padding-left: 1rem;
    padding-right: 0;
  }
  .OrganizationName span,
  .OrganizationDescription span {
    font-size: 1.1rem;
  }
  .OrganizationName h4,
  .OrganizationDescription h4 {
    font-weight: bold;
    font-size: 1.1rem;
  }
}
