.Navbar {
  box-shadow: 0px 0px 8px 2px #cccccc;
}

.Logo {
  font-family: fantasy;
  font-size: 1.8rem;
  color: midnightblue;
}
.Logo:hover {
  color: midnightblue;
  text-decoration: none;
}
.Navlink {
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #345beb;
  color: #fff;
  padding: 5px;
  font-size: 1.3rem;
  font-weight: bold;
  margin-right: 1rem;
}
.Navlink:hover {
  background-color: #345beb;
  color: #fff;
  text-decoration: none;
}
