.Navbar {
  box-shadow: 0px 0px 8px 2px #cccccc;
  padding: 0 !important;
  margin: 0 !important;
}

.logo {
  height: 2rem;
  width: 10rem;
  margin-left: 1rem;
}

.Navlink {
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #0062ff !important;
  color: #fff !important;
  padding: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem;
  width: 100 !important;
  height: 2.5rem !important;
}

.Dropdown {
  border-radius: 5px !important;
  font-size: 1.2rem !important;
  font-weight: bold !important;
  background-color: #0062ff !important;
  color: #fff !important;
  margin: 1rem !important;
  padding: 0 !important;
  height: 2.5rem !important;
}

.Navlink:hover,
.Dropdown:hover {
  cursor: pointer;
  background-color: #345beb !important ;
  color: #fff !important;
  text-decoration: none !important;
}

.login {
  color: #fff;
  padding-bottom: 5px !important;
}

@media (max-width: 767px) {
  .Dropdown {
    font-size: 1rem !important;
    margin: 1rem;
    text-align: center;
    width: 10rem;
  }
  .Navlink {
    font-size: 1rem;
    margin: 1rem;
    margin-top: 0%;
    text-align: center;
    width: 10rem;
  }
}
